{% extends 'graficos/base_graficos.html' %}

{% block page_title %}Gráfico de CO2{% endblock %}

{% block body_javascript %}
    {{ block.super }}

    <script>
        _categories = {{fechas|safe}};
        _values = {{co2_ppm|safe}};

        Highcharts.chart('container', {
            chart: {
                type: 'column'
            },
            credits: {
                enabled: false
            },
            title: {
                text: 'CO2 por fecha'
            },
            xAxis: {
                categories: _categories,
                crosshair: true,
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'CO2'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:.2f} PPM</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0,
                    color: '#EE8434',
                    dataLabels: {
                        enabled: 'true',
                        format: '{point.y:.2f} PPM'
                    }
                }
            },
            series: [{
                name: 'CO2',
                data: _values
            }]
        });
    </script>
{% endblock %}