{% extends 'base.html' %}

{% block head_stylesheets %}
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"/>
{% endblock %}

{% block page_title %}Gráficos{% endblock %}

{% block content %}
    <form class="row row-cols-lg-auto align-items-center justify-content-center mb-3" method="post">
        {% csrf_token %}

        <div class="col-12">
            <label for="dates">Rango de fechas</label>
        </div>
        <div class="col-12">
            <div class="input-group">
                <div class="input-group-text">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-calendar-date"
                         fill="currentColor"
                         xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                              d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                        <path d="M6.445 11.688V6.354h-.633A12.6 12.6 0 0 0 4.5 7.16v.695c.375-.257.969-.62 1.258-.777h.012v4.61h.675zm1.188-1.305c.047.64.594 1.406 1.703 1.406 1.258 0 2-1.066 2-2.871 0-1.934-.781-2.668-1.953-2.668-.926 0-1.797.672-1.797 1.809 0 1.16.824 1.77 1.676 1.77.746 0 1.23-.376 1.383-.79h.027c-.004 1.316-.461 2.164-1.305 2.164-.664 0-1.008-.45-1.05-.82h-.684zm2.953-2.317c0 .696-.559 1.18-1.184 1.18-.601 0-1.144-.383-1.144-1.2 0-.823.582-1.21 1.168-1.21.633 0 1.16.398 1.16 1.23z"/>
                    </svg>
                </div>
                {% if dates %}
                    <input type="text" class="form-control" id="dates" name="dates" placeholder="Rango de fechas"
                           autocomplete="off" value="{{ dates }}">
                {% else %}
                    <input type="text" class="form-control" id="dates" name="dates" placeholder="Rango de fechas"
                           autocomplete="off">
                {% endif %}
            </div>
        </div>

        <div class="col-12">
            <button type="submit" class="btn btn-primary my-2">Consultar</button>
        </div>
    </form>

    {% if fechas %}
        <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto" class="border"></div>
    {% else %}
        <div class="alert alert-warning text-center mt-4" role="alert">No hay datos disponibles. Pruebe con otro rango
            de fechas.
        </div>
    {% endif %}

{% endblock %}

{% block body_javascript %}
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment@2.29.1/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/daterangepicker@3.1.0/daterangepicker.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>

    <script>
        $(document).ready(function () {
            $('#dates').daterangepicker({
                "locale": {
                    "format": "DD/MM/YYYY",
                    "separator": " - ",
                    "applyLabel": "Aplicar",
                    "cancelLabel": "Cancelar",
                    "fromLabel": "From",
                    "toLabel": "To",
                    "customRangeLabel": "Personalizado",
                    "weekLabel": "W",
                    "daysOfWeek": [
                        "Do",
                        "Lu",
                        "Ma",
                        "Mi",
                        "Ju",
                        "Vi",
                        "Sá"
                    ],
                    "monthNames": [
                        "Enero",
                        "Febrero",
                        "Marzo",
                        "Abril",
                        "Mayo",
                        "Junio",
                        "Julio",
                        "Agosto",
                        "Septiembre",
                        "Octubre",
                        "Noviembre",
                        "Diciembre"
                    ],
                    "firstDay": 1
                },
                "showDropdowns": true,
                "opens": "center",
                "autoApply": true,
                ranges: {
                    'Hoy': [moment(), moment()],
                    'Ayer': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'Últimos 7 días': [moment().subtract(6, 'days'), moment()],
                    'Últimos 30 días': [moment().subtract(29, 'days'), moment()],
                    'Este mes': [moment().startOf('month'), moment().endOf('month')],
                    'Mes pasado': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                },
            });
        });
    </script>

    <script>
        _categories = {{fechas|safe}};
        _values = {{temperaturas|safe}};

        Highcharts.chart('container', {
            chart: {
                type: 'column'
            },
            title: {
                text: 'Temperatura por fecha'
            },
            xAxis: {
                categories: _categories,
                crosshair: true,
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Temperatura'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:.1f} °C</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: [{
                name: 'Temperatura',
                data: _values

            }]
        });
    </script>
{% endblock %}
