{% extends 'base.html' %}

{% block page_title %}Contacto{% endblock %}

{% block content %}
    <div class="row justify-content-center">
            <div class="row m-5 text-center">
                <div class="col-6 mr-auto">
                    <h5 class="mb-4">Andrés Felipe Sánchez Osorio</h5>
                    <p><strong>Código:</strong> 20182678020</p>
                    <p>Estudiante de Ingeniería en Telemática</p>
                    <p><strong>Email:</strong> <a href="mailto: fegalindoo@correo.udistrital.edu.co">anfsanchezo@correo.udistrital.edu.co</a>
                </div>
                <div class="col-6 ml-auto">
                    <h5 class="mb-4">Fredy Enrique Galindo Osma</h5>
                    <p><strong>Código:</strong> 20181678012</p>
                    <p>Estudiante de Ingeniería en Telemática</p>
                    <p><strong>Email:</strong> <a href="mailto: fegalindoo@correo.udistrital.edu.co">fegalindoo@correo.udistrital.edu.co</a>
                    </p>
                </div>
            </div>

    </div>

{% endblock %}