{% extends 'base.html' %}

{% block head_stylesheets %}

{% endblock %}

{% block page_title %}Inicio{% endblock %}

{% block content %}
    <div class="text-center">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/o3nMpm--bRg" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
    </div>
{% endblock %}

{% block body_javascript %}
    <script>
        $(document).ready(function () {

        });
    </script>
{% endblock %}
