{% extends "base.html" %}

{% block page_title %}Blog{% endblock %}

{% block content %}
    {% for post in post_list %}
        <div class="card mb-4">
            <div class="card-body">
                <h4 class="card-title">{{ post.titulo }}</h4>
                <p class="card-text text-muted h6">{{ post.autor }} | {{ post.creado }}</p>
                <p class="card-text">{{ post.contenido | slice:":400" | safe }}...</p>
                <a href="{% url 'post_detail' post.slug %}" class="btn btn-primary">Leer más &#8702;</a>
            </div>
        </div>
    {% endfor %}
    {% if is_paginated %}
        <div>
            <nav>
                <nav aria-label="Contenedor de navegación"></nav>
                <ul class="pagination justify-content-center">
                    {% if page_obj.has_previous %}
                        <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; Anterior </a>
                        </li>
                    {% endif %}
                    <span class="page-link">
                        Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
                    </span>
                    {% if page_obj.has_next %}
                        <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> Siguiente &raquo;</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    {% endif %}
{% endblock %}